.CourseList {
    margin-top: 2.5rem;
    font-size: large;
    height: 25rem;
}

#CourseList {
    margin-left: auto;
    margin-right: auto;
    width: 75%;
    border: 1px solid black;
}

#CourseList thead {
    background-color: #f1f1f1;
}

#CourseList td, #CourseList th {
    border: 1px solid #ddd;
    padding: 8px;
}

#CourseList td {
    text-align: center;
    vertical-align: middle;
}