.Notifications {
    border: 1px red dashed;
    padding: 0.5rem;
    margin: 2%;
}

.NotificationSection {
    width: 30%;
    float: right;
}

.menuItem {
    text-align: end;
}

[data-notification-type="default"] {
    color: blue;
}

[data-notification-type="urgent"] {
    color: red;
}
